/* Navbar Styles */

nav {
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul li {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
  
  /* Style for the home icon */
.home-icon {
  width: 20px; /* Størrelse på ikonet */
  height: 20px;
  vertical-align: middle; /* For å sentrere det med teksten */
  margin-right: 8px; /* Liten margin mellom ikonet og teksten */
}

nav ul li a {
  display: flex;
  align-items: center;
}

/* Hover-effekt for hjemikonet og resten av linkene */
nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
  color: #fff;
}

.logout-button {
  background-color: #f44336; /* Rød farge for logg ut-knappen */
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f; /* Mørkere rød ved hover */
}
